<% include ../partials/header %>
  <form action="/series/packs/delete?_method=DELETE" method="POST">
    <section>
      <ul class="content-list">
        <div class="actions">
            <a class="btn btn-confirm" href="/series/check">Check for Updates</a>
            <button class="btn btn-return">Clear</button>
            <a class="btn btn-confirm" href="/series/new">Add</a>
            <input type="checkbox" onClick="toggleCheckBoxes(this)" />
        </div>
        <% allAvailable.forEach(function(available) { %>
          <li>
            <p><%= available.bot %></p>
            <p><%= available.group %></p>
            <p><%= available.title %></p>
            <p><%= available.episode %></p>
            <input name="check" type="checkbox" value="<%= available._id %>|<%= available.series %>" />
          </li>
        <% }); %>
      </ul>

      <div class="command-list">
        <% commands.forEach(function(command) { %>
          <!-- <input type="text" onfocus="this.select();" onmouseup="return false" value="<%= command %>" readonly/> -->
          <textarea type="text" onclick="this.select();" onmouseup="return false" readonly="readonly"><%= command %></textarea>
        <% }) %>
      </div>
    </section>
  </form>

  <script>
    function toggleCheckBoxes(source) {
      checkboxes = document.querySelectorAll("input[type='checkbox']");
      for (var i=0; i < checkboxes.length; i++) {
        checkboxes[i].checked = source.checked;
      }
    }
  </script>

<% include ../partials/footer %>
