<% include ../partials/header %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <form class="form-group" action="/series/packs/delete?_method=DELETE" method="POST">
          <div class="row">
            <div class="col-xs-6">
              <a class="btn btn-md btn-primary" href="/series/check">Check for Updates</a>
            </div>
            <div class="col-xs-6">
              <div class="text-right">
                <button class="btn btn-md btn-danger">Clear</button>
                <a class="btn btn-md btn-primary" href="/series/new">Add</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="information">
              <div class="col-xs-3">Bot</div>
              <div class="col-xs-6">Series Title</div>
              <div class="col-xs-3">Episode</div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <% allAvailable.forEach(function(available) { %>
                <div class="item">
                  <div class="row">
                    <div class="col-xs-3"><%= available.bot %></div>
                    <div class="col-xs-7"><%= available.title %></div>
                    <div class="col-xs-1"><%= available.episode %></div>
                    <div class="form-check form-check-inline">
                      <input class="col-xs-1 form-check-input" name="delete" type="checkbox" value="<%= available._id %>|<%= available.series %>" />
                    </div>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <% commands.forEach(function(command) { %>
                <div class="form-group">
                  <input class="form-control inputdefault" type="text" onfocus="this.select();" onmouseup="return false" value="<%= command %>" readonly/>
                </div>
              <% }) %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<% include ../partials/footer %>
