<% include ../../partials/header %>

  <form action="/series/all/delete?_method=DELETE" method="POST">
    <section>
    <ul class="content-list">
      <div class="actions">
        <a class="btn btn-return" href="/series">Return</a>
        <button class="btn btn-return">Clear</button>
      </div>
        <% allSeries.forEach(function(series) { %>
          <li>
            <p><%= series.bot %></p>
            <p><%= series.name %></p>
            <p><%= series.current %></p>
            <a href="/series/all/check/<%= series._id %>">Update</a>
            <input name="check" type="checkbox" value="<%= series._id %>" />
          </li>
        <% }); %>
      </ul>
    </section>
  </form>

<% include ../../partials/footer %>
